body {
    color: black;
    font: normal 11pt Arial;
    text-align: center;
    background-color: white;
}
div {
    border: solid 3px rgb(33, 95, 230);
    border-radius: 10px;
    margin-left:360px ;
    margin-right:360px ;
}

img {
    width: 30px;
    height: 30px;
}

table {
    background-color:rgb(33, 95, 230) ;
    margin: auto;
    border-spacing: 0px;
    color: black;
    border: solid 2px rgb(33, 95, 230);
    border-radius: 5px;
    padding:0px;
}
caption {
    padding-top: 5px;
    padding-bottom: 5px;
    color:black;
}
td {
    border: solid 1.5px black;
    padding: 3px;
}
td.champ {
    text-align: left;
}
tr#kaisa :hover {
    background-color: blueviolet;
}

tr#viego :hover {
    background-color: rgb(5, 180, 107);
}
tr#jhin :hover {
    background-color: rgb(57, 66, 16);
}
tr#tresh :hover {
    background-color: rgb(52, 163, 8);
}
tr#senna :hover {
    background-color: rgb(5,180,107) ;
}
tr#seraph :hover {
    background-color: rgb(224, 26, 158);
}
tr#kat :hover {
    background-color: red;
}
tr#shaco :hover {
    background-color: rgb(68, 34, 189);
}
tr#vayne :hover {
    background-color: rgb(88, 88, 78);
}
tr#ekko :hover {
    background-color: rgb(19, 243, 11);
}
tr#spec {
    background-color: rgb(21, 95, 255);
}
a {
    color: black;
    text-decoration: none;
}
a :hover {
    color: rgb(128, 128, 128);
    transition: 0.5s;
}
p#contact {
    font-size: 14pt;
}